<div class="container">
  <img src="assets/img/cheeseburger.svg" alt="cheeseburger">
  <h1>Eat-Da-Burger</h1>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-5">
      <h2>Uneaten</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>
              {{id}}.
              {{burger_name}} 
              <button class="devourBurger btn btn-outline-secondary" data-id="{{id}}">Devour</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-12 col-lg-5">
      <h2>Eaten</h2>
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
              {{id}}. {{burger_name}} 
              <button class="removeBurger btn btn-outline-secondary" data-id="{{id}}">Remove</button>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <h2>Enter a burger you'd like to eat...</h2>
  <form class="create-form row justify-content-center">

    <div class="form-group col-8 col-lg-5">
      <input class="form-control" type="text" id="burger" name="burger">
    </div>

    <button class="btn btn-outline-dark" type="submit">Submit</button>
  </form>
</div>